.register-container {
    width: 400px;
    margin: auto;
    margin-top: 16vh;
    padding: 40px;
    border-radius: 10px;
    background-color: #f7f7f7;
    box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.2);
  }
  
  .form-group {
    margin-bottom: 20px;
  }
  
  .form-control {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
  }
  
  label {
    font-weight: bold;
  }
  
  .btn-primary {
    display: block;
    width: 100%;
    padding: 10px;
    border: none;
    border-radius: 5px;
    background-color: #007bff;
    color: #fff;
    cursor: pointer;
  }
  
  .btn-primary:hover {
    background-color: #0056b3;
  }

  .error-message {
    color: red;
    font-size: 0.8rem;
    margin-top: 5px;
  }
  .btn-secondary {
    display: block;
    width: 100%;
    padding: 10px;
    border: none;
    border-radius: 5px;
    background-color: #6c757d;
    color: #fff;
    cursor: pointer;
    margin-top: 1rem; /* Equivalent to mt-3 */
  }
  
  .btn-secondary:hover {
    background-color: #5a6268;
  }
   /* Style for the social sign-up buttons container */
.social-signup-buttons {
  margin-top: 20px; 
  margin-bottom: 20px; 

  display: flex; 
}

/* Style for both Google and Facebook sign-up buttons */
.social-signup-buttons button {
  background-color: #3B5998; /* Facebook blue (You can change it to any desired color) */
  color: white;
  border: none;
  padding: 10px 20px;
  /* font-size: 16px; */
  border-radius: 5px;
  cursor: pointer;
  margin-right: 10px; /* Adjust spacing between buttons */
}

/* Hover effect for both buttons */
.social-signup-buttons button:hover {
  opacity: 0.8; /* Decrease opacity on hover */
}
